<p id="notice"><%= notice %></p>

<div class="list-container">

  <h1>simplist</h1>

  <div class="new-item-form">
    <%=render partial: 'items/form', :locals => {:item => @new_item}%>
  </div>

  <div class="items-list">
    <%= render(:partial => 'items/item', :collection => @items) %>
  </div>

</div>