@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,400);

body {
  background-color: #FFF9E6;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none !important;
}

#sound-toggle {
  width: 32px;
  height: 32px;
  position: fixed;
  left: 15px;
  bottom: 15px;
  background: url('sound-on.png');
  cursor: pointer;
  opacity: 0.5;

  &.sound-off {
    background: url('sound-off.png');
  }
}

.list-container {
  margin: 0px auto;
  text-align: center;
  width: 500px;

  h1 {
    color: #ccc;
  }

  .new-item-form {
    margin-top: 80px;
    border-bottom: 1px solid #ccc;

    input[type='text'] {
      outline: 0;
      font-size: 50px;
      text-align: center;
      background-color: transparent;
      border: 0px;
    }
  }

  .items-list {
    margin-top: 80px;
    .item {
      margin-top: 5px;
      padding: 10px 0;
      border: 1px solid #3498DB;
      background-color: #2980B9;
      font-size: 30px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      a {
        display: block;
      }

      a, a:hover, a:visited {
        color: #fff;
        text-decoration: none;
      }

      &.active {
        &:hover {
          background-color: #3498DB;
          cursor: pointer;
        }
      }

      &.done {
        text-decoration: line-through;
      }
    }
  }
}